html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

#deerlogo {
  width: 100px;
  height: 100px;
}

#lets-start {
  width: 100px;
  height: 100px;
}

#alaska {
  font-size: 100px;
  color: rgb(231, 195, 51);
  font-weight: normal;
}

#tour-and-travel {
  color: white;
  font-weight: normal;
}

#page1 {
  width: 100%;
  min-height: 500px; 
  background: url('backgroundpg1.webp') no-repeat center center / cover;
}

#page2 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  width: 100%;
  min-height: 700px; 
  background: url('trip-to-alaska.jpg') no-repeat center center / cover;
}

#page3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 700px; 
    background: url('experience-kenai.jpg') no-repeat center center / cover;
    gap: 50px;
  }

  #page3a {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 400px; 
    background: url('anchorage-brews-tour.jpeg') no-repeat center center / cover;
  }
  #page3b {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 400px; 
    background: url('anchorage-city-tour.jpg') no-repeat center center / cover;
  }
  #page3c {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 400px; 
    background: url('anchorage-museum.jpg') no-repeat center center / cover;
  }



#page4 {
    width: 100%;
    min-height: 700px; 
    background: url('bears-trains-icebergs.jpg') no-repeat center center / cover;
  }
  #page5 {
    width: 100%;
    min-height: 700px; 
    background: url('numbers.avif') no-repeat center center / cover;
  }
  #page6 {
    width: 100%;
    min-height: 700px; 
    background: url('wolf.webp') no-repeat center center / cover;
  }



.flexbox-page-1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.flexbox-page-2a{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 269px;
}

.flexbox-page-2b{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.flexbox-page-3a{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}


.dropdown {
  position: relative;    
  display: inline-block;
  padding-top: 10px;  
}

.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  cursor: pointer;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid rgb(231, 195, 51);
  transition: transform 0.7s ease;
}

.dropdown-content {
  display: none;
  position: absolute;

  top: 15px; 
 

  left: 50%;
  transform: translateX(-50%);
  min-width: 100px;
  background: #fff;
  border: 1px solid #ccc;
  list-style: none;
  z-index: 999;
}

.dropdown-content li {
  padding: 8px 10px;
}

.dropdown-content li a {
  text-decoration: none;
  color: #333;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .arrow {
  transform: rotate(180deg);
}

.read-more-btn{
    background-color: rgb(231, 195, 51);
    color: black;
    padding: 8px 18px 8px 18px;
}

#trip-to-alaska { 
    color: rgb(231, 195, 51); 
    font-size: 60px; 
    font-weight: normal; 
    margin: -105px 0px 0px 110px;
}

#p3-header{
    color: rgb(231, 195, 51); 
    font-size: 30px; 
    font-weight: normal; 
}

#anchorage-text{
    color: white;
    margin: 0px 0px 0px 0px;
}

.page3-flex-text{
    margin: 0px 120px 10px 0px;
}